@charset "UTF-8";

body {
  max-width: 1035px;
  margin: 0 auto;
  padding: 0 40px;
}

header {
  margin-top: 60px;
}

/* ヘッダー */
.header {
  display: flex;
  justify-content: space-between;
}
.site_title {
  font-size: clamp(1.875rem, 1.696rem + 0.89vw, 2.5rem);
}
.title {
  padding: 0 75px 10px 0;
}
.title p {
  font-size: 18px;
  padding-top: 10px;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 20px;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  margin-right: 150px;
}

.menu li {
  padding: 0 16px;
}

.menu li:first-child {
  padding-left: 0;
}

.menu li:last-child {
  padding-right: 0;
}

.menu span {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 0 3.5px 10px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(45deg);
}

.research {
  background-color: darkgray;
  width: 40px;
  height: 40px;
}
.main_visual img {
  width: 100%;
  margin-top: 60px;
}

.main_sentence {
  font-size: 1.5rem;
  margin-top: 60px;
  font-family: Georgia, "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo,
    serif;
  line-height: 1.8;
}

.sp_menu,
.sp_btn {
  display:none;
}

/* メイン */
.content_wrap{
  display: flex;
  justify-content: space-between;
  margin-top: 115px;
}

.content_wrap:not(:first-child){
  margin-top: 75px;
}

.date_wrap,
.margin_wrap {
  width: 30%;
}

.date_wrap time{
  font-size: 17px;
  color: #999;
}
.content_wrap article,
.pagination {
  width: 70%;
}

.content_wrap article h3 {
  font-size: 22px;
}

.content_wrap article p {
  font-size: 17px;
  color: #666;
  margin-top: 24px;
  line-height: 1.8;
}

/* ページネーション */
.pagination_wrap {
  display: flex;
  margin-top: 75px;
  padding-bottom: 30px;
    
}

.pagination_area {
  width: 70%;
}
.pagination {
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination li {
  margin-right: 6px;
  padding: 8px 18px;
  border: 1px solid #eee;
  color: #999;
  display: flex;
  align-items: center;
  
}

.pagination li:last-child{
  padding: 12px 36px;
}

.pagination li span {
  padding-left: 2px;
}

.pagination li:hover{
  background-color: #999;
  color: #fff;
  transition: .3s;
}

/* フッター */
.footer_wrap {
  margin: 75px 0 100px 0;
  border-top: 1px solid rgb(217, 216, 216);
  display: flex;
  justify-content: space-between;
}

/* フッター左側 */
.footer_left {
  width: 28%;
}
.left_flex {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin-top: 60px;
}
.profile_img {
  border-radius: 50%;
  margin-right: 18px;
}
.profile_content strong {
  font-size: 19px;
}
.profile_content ul {
  display: flex;
  align-items: center;
}

.sns_icon {
  background-color: darkgray;
  width: 24px;
  height: 24px;
  margin-right: 4px;
}
.profile_discription {
  font-size: 17px;
  line-height: 1.7;
  margin-top: 20px;
}

/* フッター右側 */
h2 {
  font-size: 14px;
  font-weight: bolder;
  margin-bottom: 30px;
}
.footer_right {
  margin-top: 60px;
  width: 70%;
}
.right_flex {
  display: flex;
  justify-content: space-around;
}

.right_content {
  width: 33%;
  padding: 0 20px;
  color: rgb(105, 104, 104);
}

.right_content:first-child {
  padding-left: 0;
}

.right_content:last-child {
  padding-right: 0;
}

.right_content p {
  font-size: 17px;
  line-height: 1.7;
}

.right_content a {
  font-size: 17px;
  line-height: 1.7;
  text-decoration: underline;
  text-decoration-color: gainsboro;
  text-decoration-thickness: 1px;
}

.date {
  color: darkgray;
  padding-bottom: 14px;
}

.right_content li {
  color: rgb(105, 104, 104);
  padding-bottom: 14px;
}

/* サイトボトム */
.site_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0 80px 0;
   border-top: 1px solid rgb(217, 216, 216);
  
}

.sns_icon2_wrap {
width: 28%;
}

.sns_icon2_wrap ul{
  display: flex;
  gap: 20px;
}

.site_credit{
  width: 70%;
}
.site_credit p {
color: #999;
}
.site_credit a {
color: #666;
}
.sns_icon2 {
  background-color: darkgray;
  width: 26px;
  height: 26px;
  
}

/* レスポンシブ対応１ */
@media screen and (max-width: 978px) {

  /* ヘッダー */
 
  body{
   margin: 0 60px;
  }
  .header {
   flex-direction: column;
  }
  .menu {
    margin-top: 20px;
  }
  .menu ul{
    width: 100%;
    justify-content: flex-start;
  }

  .menu a {
    font-size: 14px;
  }

  /* メイン */
  .content_wrap {
    flex-direction: column;
    margin-top: 95px;
  }

  .content_wrap article h3 {
    margin-top: 8px;
  }

  .margin_wrap{
    display: none;
  }

  /*フッター*/
  .footer_wrap {
  flex-direction: column;
  }
  
 .footer_left {
  width: 100%;
 }

  .right_flex {
    flex-direction: column;
  }

  .footer_right {
    width: 100%;
  }

  .right_content {
    padding: 50px 0;
    width: 100%;
  }

  .site_bottom {
    flex-direction: column;
    align-items: flex-start;
  }

  .sns_icon2_wrap {
width: 100%;
}

.site_credit{
  width: 100%;
  margin-top: 20px;
}

/* レスポンシブ対応１ */
@media screen and (max-width: 787px) {
.menu {
  display: none;
}

/* ハンバーガーメニュー */
  .sp_btn {
    display: block; /*表示させてあげますよ*/
    height: 23px;
    cursor: pointer;
    /* 位置の調整 */
    position: absolute;
    top: 23px;
    right: 15px;
    z-index: 100; /*positionが設定されていないと効果なし*/
  }

  .sp_btn span {
    display: block; /*spanタグはinline要素なため、幅高さを設定できないためblock要素にしてあげる*/
    width: 28px;
    height: 3px;
    background: #000;
    /* 位置の調整 */
    position: relative;
    top: 10px; /*今ある場所から指定分動かせる*/
    transition: 0.3s;
  }

  .sp_btn span::before,
  .sp_btn span::after {
    content: "";
    display: block;
    width: 28px;
    height: 3px;
    background: #000;
    position: absolute;
    transition: 0.3s;
  }

  .sp_btn span::before {
    bottom: 10px; /*基準としているところ下方向から１０px上に*/
  }

  .sp_btn span::after {
    top: 10px;
  }


.title p {
  font-size: 15px;
}

}
}