@charset "UTF-8";

body {
  background-color: #e8d9bf;
}

/* ヘッダー */
.header_slider img {
  width: 100%;
  /* メモ：画像が１９２０px。画面幅がそれ以上になったときでも画面幅いっぱいに広がるように１００％設定にしとく */
}
header {
  position: relative;
}
.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7% 0 3%;
  position: absolute;
  /*メモ：動かしたい要素にこれを設定する。absoluteだけだと、どこにのせよっかなーと浮いている状態のため高さに含まれない。親要素にリレイティブを設定すると、設定された範囲で移動できる。設定しないと画面幅をもとにして移動する*/
  /*メモ：absolute設定すると横幅が打ち消される時があるため、その時は再設定してあげる*/
  width: 100%;
  /*メモ：このままだとパディング含んでの100%になってしまうそのためボーダーボックスの設定が必要*/
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.header_logo {
  width: 227px;
  /* width: clamp(187px, 1.9vw, 227px); */
  height: auto;
}

.pc_nav ul {
  display: flex;
  justify-content: space-between;
  /* gap: 54px; */
  /* gap: clamp(30px, 3.8vw, 54px); memo:gapにはclampは使用不可。画面幅に合わせて間隔を自動調整するた、スペースアラウンド*/
}

.pc_nav li {
  width: 105px;
  text-align: center;
  color: #fff;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  /* font-size: clamp(12px, 1.5vw, 18px); */
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
}

/* SP版メニュー */
.sp_nav,
.sp_btn {
  display: none;
}

/* メイン */
.main_wrap {
  max-width: 1000px; /*メモ：画面幅１９２０pxー（４６０px*2）*/
  margin: 0 auto;
  text-align: center;
}

.sub_title {
  margin-top: 104px;
  font-size: 30px;
}

.title {
  /* font-size: 82px; */
  font-size: clamp(
    38px,
    3.45vw,
    82px
  ); /*メモ：画面幅に合わせて縮小されるようにしてみる*/
  /* font-weight: normal; */
  line-height: 1.17;
  letter-spacing: 0.1em;
  margin-top: 47px;
}

.title_text {
  margin-top: 20px;
  font-size: clamp(12px, 1.9vw, 23px);
  line-height: 1.65;
  letter-spacing: 0.1em;
}

/* ABOUT US */
.about_flex {
  margin-top: 93px;
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: space-between;
}
.about_picture {
  width: 50%;
}
.about_flex div {
  width: 50%;
}

.about_image01 {
  width: 100%;
  border-radius: 0 0 82px 0;
  padding-left: 10px;
}

.about_image02 {
  width: 272px;
}
.about_flex div.about_content {
  width: 41%;
  /* padding-left: 79px; */
  box-sizing: border-box;
  padding-right: 10px;
}
.about_content {
  padding-right: 10px;
}
.catchphrase {
  margin-top: 47px;
  font-size: 44px;
  line-height: 1.39;
  font-size: clamp(2rem, 1.501rem + 1.04vw, 2.75rem);
}

.about_text {
  margin-top: 24px;
  font-size: 16px;
  line-height: 1.62;
  padding: 0 10px;
}

/*MENU*/
.menu_wrap2 {
  margin-top: 88px;
}
.menu_image01 {
  width: 151px;
}
.menu_content {
  margin-top: 39px;
  display: flex;
  gap: 48px;
  text-align: left;
}

.menu_content li {
  /* position: relative; */
  width: calc(100% / 3);
  padding: 0 10px;
}
.menu_wrap {
  position: relative;
}
.menu_images {
  width: 100%;
  border-radius: 0 42px 0 0;
}

.menu_wrap h3 {
  font-size: 38px;
  color: #d30202;
  position: absolute;
  /* top: 188px; */
  top: 94%;
  left: 3.6%;
  font-size: 38px;
}

.menu_text {
  margin-top: 45px;
  font-size: 17px;
  line-height: 1.47;
}

/* ギャラリー */
.gallery_wrap2 {
  margin-top: 85px;
}
.gallery_image01 {
  width: 245px;
}

.gallery_wrap {
  display: flex;
  margin-top: 17px;
}

/*イベント*/
.event_image01 {
  width: 173px;
  margin-top: 55px;
}

.event_wrap {
  background-color: white;
  border: 3.7px solid #4f260b;
  margin: 30px 10px 0 10px;
  /* height: 200px; */
  padding: 40px 0;
}

dl {
  display: inline-block;
}

.event_list {
  display: flex;
  justify-content: flex-start;
  gap: 55px;
  /* width: fit-content; */
  /* margin-left: auto;
  margin-right: auto; */
}

.event_list dt,
dd {
  font-size: 23px;
  line-height: 1.96;
}

.event_list dd {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
}
/*アクセス*/
iframe {
  margin-top: 37px;
  display: block;
  width: 100%;
  height: 471px;
  /*メモ：iframeタグは縦幅が設定されていないので、デザイン通りし指定する。display:block指定しないと下に隙間が開いちゃうので必ず必要*/
}
.access_image01 {
  width: 214px;
  margin-top: 68px;
}

/* フッター */
.footer_wrap {
  background-color: #fff;
  padding: 75px 0;
}

.footer_content {
  display: flex;
  gap: 65px;
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 10px;
}
.footer_logo img {
  width: 227px;
}

.footer_address {
  font-size: 20px;
  line-height: 1.95;

  font-style: normal;
}

.copy {
  text-align: center;
  font-size: 16px;

  margin-top: 74px;
}
/* ページトップボタン */
.pagetop {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 125px;
}

/* レスポンシブ対応 メニューとロゴがぶつかる直前 端末のサイズ・デザインが崩れるタイミング、二つのブレイクポイント設定方法がある*/
@media screen and (max-width: 1100px) {
  /* ヘッダー */
  /* .header_slider img {
    min-height: 100vh;
    object-fit: cover; /*見える画像の位置が違う・・・*/
  /* } */
  */ .header_logo {
    width: 187px;
  }
  .pc_nav {
    display: none;
  }

  /* ハンバーガーメニュー */
  .sp_btn {
    display: block; /*表示させてあげますよ*/
    height: 23px;
    cursor: pointer;
    /* 位置の調整 */
    position: absolute;
    top: 23px;
    right: 25px;
    z-index: 100; /*positionが設定されていないと効果なし*/
  }

  .sp_btn span {
    display: block; /*spanタグはinline要素なため、幅高さを設定できないためblock要素にしてあげる*/
    width: 33px;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    /* 位置の調整 */
    position: relative;
    top: 10px; /*今ある場所から指定分動かせる*/
    transition: 0.3s;
  }

  .sp_btn span::before,
  .sp_btn span::after {
    content: "";
    display: block;
    width: 33px;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    position: absolute;
    transition: 0.3s;
  }

  .sp_btn span::before {
    bottom: 10px; /*基準としているところ下方向から１０px上に*/
  }

  .sp_btn span::after {
    top: 10px;
  }

  .sp_btn.open span {
    /*クラスをスペースなしで記述すると、sp_btnもopenも効かせられる？？？？要復讐*/
    background-color: transparent; /*display noneにしちゃうと存在しないことになっちゃうそれだと・・・なんだっけ要復讐*/
  }
  /*バツ印*/
  .sp_btn.open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  .sp_btn.open span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  /*メニューの見た目 ボタンをクリックした時に黒い画面を重ねる*/
  .sp_nav {
    position: absolute; /*層を一枚足す*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8); /*最後のaは、透過度*/
    z-index: 1;
  }

  .sp_nav ul li {
    color: #fff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
      "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
  }

  /* メニューを画面中央寄せ！flexが一番 要復讐 */
  .sp_nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 40px;
  }

  /*画面を固定*/
  .nav.open {
    position: fixed;
    top: var(--scroll-y);
    left: 0;
    width: 100%;
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  /* メイン */
  .sub_title {
    margin-top: 40px;
    font-size: 17px;
  }

  .title {
    /* font-size: 82px; */
    font-size: 38px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    margin-top: 23px;
  }

  .title_text {
    margin-top: 12px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.1em;
  }

  .a::after {
    content: "\A";
    white-space: pre;
  }

  .b::after {
    content: "\A";
    white-space: pre;
  }
  .main_wrap {
    margin-top: 38px;
  }

  /* ABOUT_US */
  .about_flex {
    flex-direction: column;
    /* display: contents; */
  }
  .about_picture {
    width: 100%;
  }
  .about_image01 {
    border-radius: 0;
    margin-top: 12px;
    padding-left: 0;
  }
  h2 {
    order: -1;
  }
  /*メモ：抜け出したいものの親要素をなくしてあげる。.about_image02に対してordeを指定していたためうまくいかなかった。*/

  .about_content {
    display: contents;
  }

  .about_image02 {
    width: 160px;
  }

  .catchphrase {
    width: 100%;
    display: inline-block;
    text-align: left;
    margin-top: 32px;
    font-size: 36px;
    padding-left: 10px;
  }

  .about_text {
    margin-top: 16px;
  }

  /* MENU */
  .menu_wrap2 {
    padding: 0 37px;
    margin-top: 46px;
  }
  .menu_content {
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
  }

  .menu_image01 {
    width: 87px;
    /* margin-top: 58px; */
  }

  .menu_content li {
    width: 100%;
  }

  .menu_images {
    min-width: 300px;
  }

  .menu_wrap h3 {
    /* top: clamp(97%, 93%, 90%); */
    top: 97%;
    left: 2%;
    font-size: 40px;
  }

  .menu_text {
    margin-top: 40px;
  }
  /*ギャラリー*/
  .gallery_wrap2 {
    margin-top: 85px;
  }
  .gallery_image01 {
    width: 142px;
  }

  /*イベント*/
  .event_image01 {
    width: 100px;
  }

  .event_wrap {
    margin-top: 15px;
  }

  .event_list {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .event_list dt,
  dd {
    font-size: 16px;
  }

  .event_list a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  /* アクセス */
  .access_image01 {
    width: 124px;
    margin-top: 26px;
  }
  iframe {
    margin-top: 5px;
  }

  /*フッター*/

  .footer_content {
    flex-direction: column;
    gap: 28px;
  }
  .footer_logo {
    width: 227px;
  }

  .footer_address {
    font-size: 18px;
    line-height: 1.72;
  }

  /* ページトップボタン */
  .pagetop {
    right: 12px;
    bottom: 20px;
    width: 100px;
  }
}

/*質問
①メニュー部分、h3部分の位置を調整しようと位置を再調整しました。画面幅が500px前くらいまでは、いい感じの見た目なのですが
それよりも小さくなった時すこしずつずれてしまいます。clampやtranslateを使用してみたのですが、上手くいきませんでした。
どのように調整するのがよいのでしょうか？
②メニュー部分、画面幅が小さくなりすぎた時に画像が小さくなりすぎていってしまうことが気になり最小値を設定
してみましたが、気にしすぎでしょうか？
③イベント部分、文章に「・・・」が反映せず困っています・・・。
④レスポンシブ対応に着手している際に、クラスが足りない・・・と後から後からクラスを追加して、クラス名がごちゃごちゃになってしまいます。
クラス名をきれいに整えるコツや、あとからタグが不足しないためのコツはありますか？（慣れるしかない・・・ということになりますよね）
 */

/* 未対応：sp版画像の切り替えから・・・
①メニューを開いた時、画面スクロー流できないように
②メニューをクリックしたら黒い画面は閉じるように！ */
